<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>

  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <!--<add name="SpiritContext" connectionString="metadata=res://*/SpiritDB.csdl|res://*/SpiritDB.ssdl|res://*/SpiritDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SSBTBEV057\MSSQLSERVER01;initial catalog=Spirit;persist security info=True;user id=Admin;password=password;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="SpiritContext" connectionString="metadata=res://*/SpiritDB.csdl|res://*/SpiritDB.ssdl|res://*/SpiritDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-II7MG29\MS2016;initial catalog=PTT_Prescreen_Test;persist security info=True;user id=Admin;password=password;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!--<add name="ERecruitment" connectionString="DATA SOURCE=ptt-db-t02.ptt.corp;initial catalog=PTT-E-Recruitment_Test;PASSWORD=cptterecruitmentview;PERSIST SECURITY INFO=True;USER ID=ptterecruitmentview;" />-->
    <add name="ERecruitment" connectionString="DATA SOURCE=DESKTOP-II7MG29\MS2016;initial catalog=PTT_Prescreen_Test;PASSWORD=password;PERSIST SECURITY INFO=True;USER ID=Admin;" />
    <!--<add name="ERecruitment" connectionString="DATA SOURCE=SSBTBEV057\DB2016;initial catalog=PTT_Prescreen_Test;PERSIST SECURITY INFO=True;user id=AdminSpirit;password=P@ssword;" />-->
    <!--<add name="SpiritContext" connectionString="metadata=res://*/SpiritDB.csdl|res://*/SpiritDB.ssdl|res://*/SpiritDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SSBTBEV057\DB2016;initial catalog=PTT_Prescreen_Test;persist security info=True;user id=AdminSpirit;password=P@ssword;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="MailSubjectFirstTimeLogin" value="Personality Assessment: Registration confirmed" />
    <add key="MailSubjectForgotPassword" value="Personality Assessment: Forgot password" />
    <add key="EmailFrom" value="thanaset0496@gmail.com" />
  </appSettings>
  <system.web>
    <httpRuntime targetFramework="4.5.1" />
    <compilation debug="true" targetFramework="4.5.1" />
    <httpHandlers>
      <add path="*" verb="OPTIONS" type="System.Web.DefaultHttpHandler" validate="true"/>
      <add path="*" verb="TRACE" type="System.Web.DefaultHttpHandler" validate="true"/>
      <add path="*" verb="HEAD" type="System.Web.DefaultHttpHandler" validate="true"/>
    </httpHandlers>
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Optimization" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
  </system.web>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <clear />
      </customHeaders>
    </httpProtocol>

    <validation validateIntegratedModeConfiguration="false" />
    <staticContent>
      <remove fileExtension=".woff" />
      <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
      <remove fileExtension=".ttf" />
      <mimeMap fileExtension=".ttf" mimeType="font/truetype" />
      <remove fileExtension=".otf" />
      <mimeMap fileExtension=".otf" mimeType="font/opentype" />
      <remove fileExtension=".eot" />
      <mimeMap fileExtension=".eot" mimeType="application/vnd.ms-fontobject" />
    </staticContent>
    <!--<modules>
      <add name="LangQueryAppenderModule" type="SpiritProject.WebUI.HttpModules.LangQueryAppenderModule" />
    </modules>-->
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="itextsharp" publicKeyToken="8354ae6d2174ddca" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.5.0" newVersion="5.0.5.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="ptttest@ptt.com">
        <network host="pttapp2smtp.ptt.corp" port="25" />
      </smtp>
    </mailSettings>
  </system.net>
</configuration>
