<footer class="footer">
    <span class="pull-right">
        @Resources.Resource.lbl_Version @typeof(SpiritProject.WebUI.MvcApplication).Assembly.GetName().Version
    </span>
    Personality Assessment
</footer>
